Shared/Service References/UploadEstateService/UploadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UploadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3239/UploadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3239/UploadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3239/UploadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Realtor.DTO" />
      <xsd:import schemaLocation="http://localhost:3239/UploadService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EstateData">
    <wsdl:part name="parameters" element="tns:EstateData" />
  </wsdl:message>
  <wsdl:message name="EstateData_Headers">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="ReturnData">
    <wsdl:part name="parameters" element="tns:ReturnData" />
  </wsdl:message>
  <wsdl:message name="EstateImageData">
    <wsdl:part name="parameters" element="tns:EstateImageData" />
  </wsdl:message>
  <wsdl:message name="EstateImageData_Headers">
    <wsdl:part name="EstateID" element="tns:EstateID" />
  </wsdl:message>
  <wsdl:portType name="IUploadService">
    <wsdl:operation name="UploadEstate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadService/UploadEstate" name="EstateData" message="tns:EstateData" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadService/UploadEstateResponse" name="ReturnData" message="tns:ReturnData" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadService/UploadImage" name="EstateImageData" message="tns:EstateImageData" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadService/UploadImageResponse" name="ReturnData" message="tns:ReturnData" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUploadService" type="tns:IUploadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadEstate">
      <soap:operation soapAction="http://tempuri.org/IUploadService/UploadEstate" style="document" />
      <wsdl:input name="EstateData">
        <soap:header message="tns:EstateData_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReturnData">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://tempuri.org/IUploadService/UploadImage" style="document" />
      <wsdl:input name="EstateImageData">
        <soap:header message="tns:EstateImageData_Headers" part="EstateID" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReturnData">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadService">
    <wsdl:port name="BasicHttpBinding_IUploadService" binding="tns:BasicHttpBinding_IUploadService">
      <soap:address location="http://localhost:3239/UploadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>