UserControls/Service References/ImageUploadService/ImageUploadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Realtor.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Realtor.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ImageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streamKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageDto" nillable="true" type="tns:ImageDto" />
</xs:schema>