LocalizationResources/Service References/WebService/datetimeservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCurrentDate">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentDate" />
  </wsdl:message>
  <wsdl:message name="GetCurrentDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentDateResponse" />
  </wsdl:message>
  <wsdl:portType name="DateTimeServiceSoap">
    <wsdl:operation name="GetCurrentDate">
      <wsdl:input message="tns:GetCurrentDateSoapIn" />
      <wsdl:output message="tns:GetCurrentDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DateTimeServiceSoap" type="tns:DateTimeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentDate">
      <soap:operation soapAction="http://tempuri.org/GetCurrentDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DateTimeServiceSoap12" type="tns:DateTimeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentDate">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DateTimeService">
    <wsdl:port name="DateTimeServiceSoap" binding="tns:DateTimeServiceSoap">
      <soap:address location="http://www.kostandyan.com/datetimeservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DateTimeServiceSoap12" binding="tns:DateTimeServiceSoap12">
      <soap12:address location="http://www.kostandyan.com/datetimeservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>